* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
}
input{
    padding-left: 3px;
}
.linkDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff02dd;
  height: 50px;
  a {
    color: white;
    text-decoration: none;
  }
  img {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
}
.adminDiv {
  height: 100vh;
}
.welcomeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  img {
    width: 100%;
    height: 30%;
  }
  h1 {
    color: white;
    b {
      color: #9a1ae4;
      font-size: 45px;
    }
  }
}
.errorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  .image404 {
    width: 50%;
    height: 20%;
  }
  .imageRobot {
    width: 50%;
    height: 45%;
  }
}
.formRegistr,
.formLogin {
  margin: 25px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 230px;
  background-color: #9a1ae4;
  border-radius: 10px;
  input {
    display: block;
    width: 150px;
    height: 35px;
    border: none;
    padding-left: 5px;
  }
  .submitInput {
    background-color: #181e41;
    color: white;
    cursor: pointer;
  }
  button {
    width: 150px;
    height: 40px;
    background-color: #181e41;
  }
}
.formLogin {
  height: 190px;
}
.app {
  display: grid;
  gap: 15px;
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
}
button {
  background-color: #9a1ae4;
  color: white;
  cursor: pointer;
}
input,
.add,
.logOut {
  width: 150px;
  margin: 5px auto;
  border: 3px solid black;
}
.createForm {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 190px;
  background-color: #9a1ae4;
  border-radius: 10px;
  .submitInput {
    background-color: #181e41;
    color: white;
    cursor: pointer;
    height: 25px;
    border-radius: 10px;
  }
}
.poisk {
  display: flex;
  color: white;
  justify-content: center;
  gap: 25px;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr) minmax(152px, auto) minmax(25px, auto);
  > div {
    border: 1px solid black;
    color: white;
  }
  .paragraphName {
    color: #fd0177;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  .tableContent {
    display: grid;
    place-content: center;
  }
  button {
    max-width: 75px;
    height: 40px;
  }
  .infoContent {
    display: grid;
    place-content: center;
    svg {
      cursor: pointer;
      color: #fd0177;
    }
    .infoDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #9a1ae4;
    }
  }
}

@media screen and(max-width: 1020px) {
  .table > :nth-child(4) {
    display: none;
  }
  #emailDiv {
    display: none;
  }
  .table {
    grid-template-columns: repeat(3, 1fr) minmax(152px, auto) minmax(25px, auto);
  }
}

@media screen and (max-width: 810px) {
  .table > :nth-child(2) {
    display: none;
  }
  #userNameDiv {
    display: none;
  }
  .table {
    grid-template-columns: repeat(2, 1fr) minmax(152px, auto) minmax(25px, auto);
  }
}
@media screen and (max-width: 674px) {
  .table > :nth-child(3) {
    display: none;
  }
  #phoneDiv {
    display: none;
  }
  .table {
    grid-template-columns: 1fr minmax(152px, auto) minmax(25px, auto);
  }
  .poisk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 585px) {
  .linkDiv {
    font-size: 12px;
  }
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #phoneDiv {
    display: block;
  }
  #userNameDiv {
    display: block;
  }
  #emailDiv {
    display: block;
  }
  .table > :nth-child(1) {
    display: none;
  }
  .table > :nth-child(5) {
    display: none;
  }
  .table > :nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .linkDiv {
    font-size: 10px;
  }
}
